{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} DEFAULT TITLE {% endblock %}</title>
</head>
<body>

{#<header>#}
{#    {% if request.user.is_authenticated %}#}
{#        HI {{ request.user.first_name }}#}
{#        <a href="{% url "lesson:logout" %}">logout</a>#}
{#        <a href="{% url "lesson:profile" %}">Profile</a>#}
{#    {% else %}#}
{#        <a href="{% url "lesson:login" %}">login</a>#}
{#        <a href="{% url "lesson:register" %}">register</a>#}
{#    {% endif %}#}
{#</header>#}

<div class="container-flex m-4">
    <div class="row mb-1">
       <div class="col-sm-9 px-sm-0 pl-sm-1">
            <div class="p-3 border border-primary rounded">
                {% block content %}
                {% endblock %}
            </div>

       </div>
       <div class="col-sm-3 pr-sm-0 pl-sm-1">
           <div class="p-3 border border-primary rounded">
                {% block menu %}
                {% endblock %}
            </div>
       </div>
    </div>

    <div class="row">
       <div class="col-sm-9 border border-primary rounded">
            Stepan B
       </div>
       <div class="col-sm-3 border border-primary rounded">
            Python Web development
       </div>
    </div>
</div>

</body>
</html>