{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} {% if form.initial %}Edit{% else %}Create{% endif %} Income {% endblock %}

{% block content %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">{% if form.initial %}Edit{% else %}Create{% endif %} income</h4>
    <form action="." method="post">
        {{ form|crispy }}
        {% csrf_token %}
        {% if form.initial %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Create</button>
        {% endif %}
    </form>
    </div>
{% endblock %}
