{% extends "base.html" %}

{% block title %}
Account {{ account.name }}
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
        <div class="lh-100">
          <h6 class="mb-0 text-black lh-100">Account {{ account.name }}</h6>
        </div>
    </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-gray">
                <strong class="d-block text-gray-dark">Balance: {{ account.balance }} {{ account.currency }}</strong>
                </p>
            </div>
        </div>
{% endblock %}
