{% extends "base.html" %}

{% block title %}
Accounts list
{% endblock %}

{% block content %}

    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">Accounts</h4>
    {% for account in accounts %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">

            <a href="{{ account.get_absolute_url }}">{% if account.image %}<img src="{{ account.image.url }}">{% endif %}{{ account.name }}</a>
        </strong>
        Balance: {{ account.balance }} BYN.
      </p>
    </div>
    {% endfor %}

    <small class="d-block text-right mt-3">
      <a href="{% url 'wallet:account_create' %}"><button type="button" class="btn btn-primary btn-sm">Add account</button></a>
      {% if accounts|length > 1 %}
      <a href="{% url 'wallet:transfer_create' %}"><button type="button" class="btn btn-success btn-sm">Transfer</button></a>
      {% endif %}
    </small>
  </div>
{% endblock %}
